<p #trigger>Deferrable Views</p>

<!-- It has always loaded the idle as default-->
<!-- @defer (on idle)  { -->
<!-- @defer (on timer(5s))  { It does a delay for a time specified. In this example, we are using 5 seconds. --> 
<!-- @defer (on viewport)  It just load when the scrow down/up arrive at a some point { -->
<!-- @defer (on interaction(trigger)) interaction is needed to interact to a component specified -->
<!-- @defer (on hover) It need the mouse hover on the component  -->
<!-- immediate -->
<!-- prefetch it has already loaded however it just shows the component 
    when there is a interaction on the component -->

<!-- @defer (on interaction(trigger2); prefetch on interaction(trigger))  {
    <app-new-component></app-new-component>
} @placeholder {
    <p #trigger2>Mostrar antes de carregar algo</p>
} @loading {
    <p>Loading...</p>
} @error {
    <p>Loading failed :(</p>
} -->

<!-- <button (click)="isTrue = true">Update Flag</button>

@defer (when loadingData$ | async )  {
    <app-new-component></app-new-component>
} @placeholder(minimum 5s) {
    <p #trigger2>Mostrar antes de carregar algo</p>
} @loading() {
    <p>Loading...</p>
} @error {
    <p>Loading failed :(</p>
} -->

<!-- <button (click)="isTrue = true">Update Flag</button>

@defer {
    <app-new-component></app-new-component>
} @placeholder(minimum 5s) {
    <p #trigger2>Mostrar antes de carregar algo</p>
} @loading() {
    <p>Loading...</p>
} @error {
    <p>Loading failed :(</p>
} -->

<!-- <h2 #trigger>Deferrable views</h2>

@defer (on interaction) {
    <app-new-component></app-new-component>
} @placeholder() {
    <p #trigger2>Mostrar antes de carregar algo</p>
} @loading(after 150ms; minimum 5s) {
    <p>Loading...</p>
} @error {
    <p>Loading failed :(</p>
} -->

<h2 #trigger>Deferrable views</h2>

@defer (on interaction) {
    <app-new-component></app-new-component>
} @placeholder() {
    <p #trigger2>Mostrar antes de carregar algo</p>
} @loading() {
    <p>Loading...</p>
} @error {
    <p>Loading failed :(</p>
}
